@import "../../utils.scss";

.landing-container {
  // @extend %page-content;
  font-family: "Open Sans", sans-serif;
  background-image: url("../../images/tomato.jpg");
  background-size: cover;
  height: 100%;
}
