@import '../../utils.scss';

.landing-container {
  // @extend %page-content;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.landing__slider {
  overflow: hidden;
}

.landing__slider__div {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70vh;
  width: 100%;
}

.landing-container section {
  // height: 33%;
}

@media (max-width: 767px) {
  .landing__slider__div {
    width: 100vw;
  }
}
