@import '../../utils.scss';

.landing-container {
  // @extend %page-content;
  font-family: 'Open Sans', sans-serif;
}

.landing__slider {
}

.landing__slider__div {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  img {
    height: 500px;
  }
}

.landing-container section {
  height: 33%;
}
