@import '../../utils.scss';

.contact {
  height: 40vh;
  background-color: orange;

  h2 {
    font-size: 30px;
  }
}

.contact__form {
  @extend %flexing;

  justify-content: space-around;
  border: 7px solid white;
  margin: 20px 80px;
  padding: 20px 0px;

  p {
    font-size: 14px;
  }
}

.contact__message {
  input[type='text'] {
    height: 150px;
    width: 225px;
  }
}
