@import "../../utils.scss";

.header-page {
  width: 100vw;
  padding: 20px;
  @extend %flexing;
  justify-content: space-between;
  div {
    font-family: $heading-font;
    font-size: 36px;
    line-height: 40px;
  }
  nav {
    // width: 60%;
    ul {
      @extend %flexing;
      justify-content: space-between;
    }
  }
}
