* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(135deg, #7fb174, #689c97); */
}

.content {
  flex-grow: 1;
  overflow: scroll;
}
