// both
$heading-font: "Josefin Sans", sans-serif;
$text-font: "Open Sans", sans-serif;
%flexing {
  display: flex;
  align-items: center;
}
%page-content {
  margin: 40px auto;
  padding-top: 20px;
}
%callButton {
  padding: 10px 40px;
  background-color: #0d9922;
  border: 2px solid #0b851dfb;
  border-radius: 4px;
  margin: 20px;
}
// desktop

// mobile
